@import url(https://fonts.googleapis.com/css?family=Archivo:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Dosis:regular&display=swap);

:root {
	--main-color: 232, 212, 231; /*  #e8d4e7 */
	--todo-color: 255, 198, 92; /* #FFC65C */
	--daily-color: 50, 174, 160; /* #32aea0 */
	--notes-color: 232, 113, 82; /* #e87152 */
	--text-color: 47, 51, 51; /* #2f3333 */
	--background-color: #f8f8f8;
}

body {
	background-color: rgba(var(--main-color), 0.3);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cpath fill='%23e8d4e7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	font-family: "Archivo", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: rgba(var(--text-color));
	margin: 0;
}

.dashboard {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1440px;
	padding: 0 15px;
}

.header-tools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.useful-icons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.useful-icons i {
	color: rgba(var(--text-color));
	font-size: 20px;
}

.useful-icons a:hover i.fa-calendar-days {
	color: rgba(var(--todo-color));
}

.useful-icons a:hover i.fa-envelope {
	color: rgba(var(--notes-color));
}

.useful-icons a:hover i.fa-google-drive {
	color: rgba(var(--daily-color));
}

.useful-icons a:hover i.fa-stopwatch {
	color: #038fce;
}

.day-info {
	text-align: right;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	margin: 0 15px;
}

.left-container {
	width: 35%;
	height: 585px;
	min-width: 470px;
	margin: 15px 15px 15px 0;
}

.right-container {
	width: 65%;
	height: 585px;
	margin: 15px 0;
	max-width: 860px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-family: "Archivo Black", sans-serif;
	color: rgba(var(--main-color));
	font-size: 80px;
	margin: 0;
	text-shadow: 4px 4px 0 rgba(var(--text-color));
}

h1 span:hover {
	cursor: pointer;
}

h2 {
	font-family: "Pacifico", cursive;
	font-weight: 500;
	margin: 0;
	font-size: 32px;
}

.container {
	border: rgba(var(--text-color)) solid 1px;
	border-radius: 16px;
	box-shadow: 4px 4px 0 rgba(var(--text-color));
	background-color: #f8f8f8;
}

.container .heading {
	background-color: rgb(255, 0, 0, 0.3);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	position: relative;
	width: 100%;
	height: 50px;
}

.container .heading h2 {
	position: absolute;
	bottom: -14px;
	left: 18px;
}

.todo-container {
	height: 585px;
	position: relative;
}

.todo-container .heading {
	background-color: rgba(var(--todo-color), 0.3);
	color: rgba(var(--todo-color));
}

.todo-list {
	height: 475px;
	overflow-y: auto;
}

.todo-container .todo-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.todo-container .todo-list li {
	padding: 20px;
	border-bottom: 1px solid rgba(var(--text-color), 0.25);
	line-height: 18px;
}

.todo-container .todo-list li:hover {
	cursor: pointer;
}

.todo-container .todo-list li.done {
	background-color: rgba(var(--text-color), 0.05);
	color: rgba(var(--text-color), 0.25);
	text-decoration: line-through;
}

.todo-container .todo-add {
	background-color: rgba(var(--text-color), 0.05);
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-container .todo-add input {
	height: 30px;
	border: 1px solid rgba(var(--todo-color));
	border-radius: 4px;
	width: 70%;
	margin-right: 10px;
	color: rgba(var(--text-color));
	padding: 0 5px;
}

.todo-container .todo-add input:focus {
	outline: none;
}

.todo-container .todo-add button {
	background-color: rgba(var(--todo-color));
	height: 30px;
	width: 30px;
	border-radius: 4px;
	border: none;
	color: #f8f8f8;
}

.todo-container .todo-add button:hover {
	cursor: pointer;
	scale: 0.95;
}

.quote-container {
	min-height: 110px;
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.quote-container .quote-icon {
	color: rgba(var(--text-color), 0.25);
	font-family: "Archivo Black", sans-serif;
	font-size: 96px;
	line-height: 0;
	position: absolute;
	top: 50px;
	left: 20px;
}

.quote-container .quote-text {
	font-family: "Pacifico", sans-serif;
	font-size: 24px;
	text-align: center;
	text-wrap: balance;
	margin: 5px 60px 30px;
	max-height: 90px;
	overflow: auto;
}

.quote-container .quote-author {
	color: rgba(var(--text-color), 0.25);
	font-family: "Archivo Black", sans-serif;
	font-size: 20px;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 20px;
}

.small-containers {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
	margin-top: 25px;
}

.small-containers .container {
	width: 260px;
	height: 390px;
}

.daily-tracker-container .heading {
	background-color: rgba(var(--daily-color), 0.3);
	color: rgba(var(--daily-color));
}

.daily-tracker-container .daily-list ul {
	list-style-type: none;
	margin-top: 30px;
}

.daily-tracker-container .daily-list li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.daily-tracker-container .daily-list input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid rgba(var(--daily-color));
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.daily-tracker-container .daily-list input[type="checkbox"]:checked {
	background-color: rgba(var(--daily-color));
}

.daily-tracker-container .daily-list label {
	margin-left: 5px;
	cursor: pointer;
}

.daily-tracker-container .daily-progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

.daily-tracker-container .daily-progress .daily-progress-bar {
	width: 80%;
	height: 20px;
	border: 1px solid rgba(var(--daily-color));
	border-radius: 4px;
}

.daily-tracker-container .daily-progress .progress {
	background-color: rgba(var(--daily-color));
	height: 100%;
	width: 0;
}

.daily-tracker-container .daily-progress .progress-message {
	font-family: "Archivo Black", sans-serif;
	font-size: 20px;
	color: rgba(var(--daily-color));
	margin-top: 10px;
}

.notes-container .heading {
	background-color: rgba(var(--notes-color), 0.3);
	color: rgba(var(--notes-color));
}

.notes-container .notes-text {
	height: 100%;
	width: 100%;
	padding: 8px;
}

.notes-container textarea {
	box-sizing: border-box;
	width: calc(100% - 16px);
	height: 80%;
	resize: none;
	border: none;
	border-radius: 2px;
	font-family: inherit;
	line-height: 18px;
	padding: 5px;
}

.notes-container textarea::placeholder {
	color: rgba(var(--text-color), 0.25);
}

.notes-container textarea:focus {
	outline: none;
}

.unsplash-image-container {
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.unsplash-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.unsplash-image-container .image-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	padding: 10px;
	color: #f8f8f8;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.unsplash-image-container .image-info a {
	color: #f8f8f8;
}

.unsplash-image-container .image-info a:hover {
	text-decoration: none;
}

.unsplash-image-container:hover .image-info {
	opacity: 1;
}

#imageTitle,
#imageAuthor {
	margin: 0;
	font-family: inherit;
	font-size: 14px;
	line-height: 1.5;
}

#imageTitle {
	font-weight: bold;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--text-color));
	color: var(--background-color);
	font-family: "Dosis", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

footer a {
	color: var(--background-color);
	text-decoration: none;
}

footer .social-links i {
	font-size: 16px;
	padding: 0 8px;
}

footer .social-links i:hover {
	transform: scale(1.1);
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: rgba(var(--text-color));
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.modal-content {
	display: flex;
	flex-direction: column;
}

.modal-content ul {
	padding-left: 20px;
	margin-top: 0;
}

.modal-content p {
	margin: 7px 0;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 10px;
	color: rgba(var(--text-color));
	font-size: 30px;
	cursor: pointer;
}

.modal-button {
	margin: 10px auto;
	background-color: rgba(var(--text-color), 0.15);
	border: none;
	border-radius: 4px;
	color: rgba(var(--text-color));
	font-family: inherit;
	font-weight: bold;
	padding: 5px 20px;
	cursor: pointer;
}

.modal-button:hover {
	background-color: rgba(var(--text-color), 0.25);
}

.modal small {
	font-size: 10px;
	color: rgba(var(--text-color), 0.75);
}

@media (max-width: 1340px) {
	body {
		overflow: auto;
	}

	h1 {
		font-size: 52px;
	}

	.day-info {
		text-align: left;
	}

	.right-container {
		width: 100%;
		height: auto;
		margin-bottom: 35px;
	}

	.small-containers {
		justify-content: start;
	}

	.quote-container .quote-text {
		max-height: none;
		overflow: unset;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 42px;
	}

	.left-container {
		width: 100%;
		min-width: 100%;
	}

	.right-container {
		min-width: 100%;
		display: block;
	}

	footer {
		position: relative;
		height: auto;
		display: flex;
		flex-direction: column;
		min-width: 100%;
		padding: 15px 0;
	}

	footer p {
		margin: 7px 0;
	}

	footer .social-links {
		margin: 14px 0 7px;
	}

	.modal {
		overflow-y: auto;
		max-height: 90vh;
		width: 80vw;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 36px;
		margin-top: 10px;
	}

	.header-tools {
		width: 100vw;
	}

	.day-info {
		font-size: 14px;
	}

	.useful-icons i {
		font-size: 16px;
	}

	h2 {
		font-size: 26px;
	}

	.container .heading {
		height: 46px;
	}

	.container .heading h2 {
		bottom: -12px;
	}

	.quote-container {
		height: auto;
	}

	.quote-container .quote-icon {
		font-size: 56px;
	}

	.quote-container .quote-text {
		margin: 10px 30px 26px;
	}

	.quote-container .quote-author {
		font-size: 18px;
		margin: 14px 0;
	}

	.small-containers .container {
		width: 100%;
	}

	.daily-tracker-container li {
		font-size: 14px;
	}
}
